@charset "UTF-8";

.container {
    display: flex;
    justify-content: space-between;
    width: 75em;
    margin: 0 auto;
}
.min-height {
    min-height: 75%;
}
.start {
    justify-content: flex-start;
}
.column {
    flex-direction: column;
    justify-content: flex-start;
}